header {
  /* padding: 20px; */
  background-color: white;
  color: dodgerblue;
  box-shadow: 5px 5px 5px lightgray;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-family: cursive;
  font-size: 30px;
}

.jumbotron {
}

.form {
  width: 80%;
  margin: auto;
  color: dodgerblue;
  padding: 20px;
}
