header {
  /* padding: 20px; */
  background-color: white;
  color: dodgerblue;
  box-shadow: 5px 5px 5px lightgray;
  display: flex;
  justify-content: space-between;
}
header{
  position: fixed;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-family: cursive;
  font-size: 30px;
}

.jumbotron {
}

.form {
  width: 80%;
  margin: auto;
  color: dodgerblue;
  padding: 20px;
}
.home {
  display: flex;
  padding: 20px;
}
.home-page{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.post-form{
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  color: dodgerblue;
}
.sidebar{
  margin-top: 100px;
  margin-left: 100px;
}
.recent{
  width: 80%;
  padding: 30px;
}

.comment-form{
  display: none;
}