{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Project Learn</title>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}" />
  </head>
  <body>
    <header>
      <h1 class="logo">Project Learn</h1>
      <ul class="nav-bar">
        <li class="nav-bar-item"><a href="{% url 'blog:home' %}">Home</a></li>
        <li class="nav-bar-item"><a href="{% url 'blog:login' %}">Login</a></li>
        <li class="nav-bar-item">
          <a href="{% url 'blog:register' %}">Sign Up</a>
        </li>
      </ul>
    </header>

    {% block body %} {% endblock body %}

    <footer>
      <p>Ssali Jonathan &copy;2020</p>
    </footer>
  </body>
</html>
