{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="jumbotron">
    <div class="head-text">
      <a href="/posts/{{post.title}}/"><h3>{{post.title}}</h3></a> by {{post.author}}</div>
    <small class="post-time">{{post.created}}</small>   
    <p>Tags:</p>
    {% for tag in post.tags.all %}
        <a href="">{{tag}}</a>,
    {% endfor %}

    

    <p>{{post.body}}</p>
    
    {% if post.author == user %}
        <a href="/update_post/{{post.pk}}" class="btn btn-success">Update</a>
        <a href="" class="btn btn-danger">Delete</a>
        {% else %}
        <button class="btn btn-info" id="comment-btn">Comment</button>
        <br>
        <br>
        <div class="comment-form" id="comment-form">
            <form action="" method="post">
              <div class="form-group">
                <p>Please leave your comment</p>
                  {% csrf_token %}
                  {{form|crispy}}
                <input type="submit" value="Comment" class="btn btn-primary">
                <a href="#" class="btn btn-success cancel-btn">Cancel</a>
              </div>
            </form>
        </div>
    {% endif %}

    <h3>{{comments.count}} Comments</h3>
    
    {% for comment in comments %}
      <div class="comment">
        <a href="/user_profile/{{comment.author.username}}"><h4>{{comment.author}}</h4></a>
        {{comment.body}}
      </div>
    
    {% endfor %}
      
         
  </div>


{% endblock body %}
    