{% extends 'blog/base.html' %}
{% block body %}
   <div class="container">
    <div class="jumbotron">
        <h1>{{user.username}}</h1>
        <p>{{user.email}}</p>
        {% if user.bio %}
            <p class="bio">
                {{user.bio}}
            </p>
        {% else %}
            <p>No bio yet</p>
            <p>Please <a href="{% url 'blog:create_bio' %}">Create One</a></p>
        {% endif %}
        <a href="/update_bio/{{user.id}}/">Edit Your Bio</a>
    </div>
   </div>
{% endblock body %}
    