{% extends 'blog/base.html' %}
{% block body %}
   <div class="container">
    <div class="jumbotron">
        <h1>{{user.username}}</h1>
        <p>{{user.email}}</p>
        {% if user.profile.bio %}
            <p class="bio">
                {{user.profile.bio}}
            </p>
        {% else %}
            <p>No bio yet</p>
            <p>Please <a href="{% url 'blog:create_bio' %}">Create One</a></p>
        {% endif %}
        <a href="/update_bio/{{user.profile.id}}/">Edit Your Profile</a>
    </div>

    <div class="posts">
        <h3>Your Posts:</h3>
        {% for post in posts %}
            <div class="post">
                    <div class="head-text">
                      <a href="/posts/{{post.title}}/"><h3>{{post.title}}</h3></a> by <a href="/user_profile/{{post.author.username}}/">{{post.author}}</a></div>
                    <small class="post-time">{{post.created}}</small>    
                <p>{{comments.count}} comments</p>
            </div>
        {% endfor %}
            
    </div>
   </div>
{% endblock body %}
    