* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-bar {
  padding-top: 20px;
}

.nav-bar-item {
  display: inline;
  padding: 20px;
  text-transform: uppercase;
}

.nav-bar-item a {
  color: dodgerblue;
}
header {
  display: flex;
  justify-content: space-around;
  color: dodgerblue;
  box-shadow: 5px 5px 5px rgb(66, 70, 75);
}

.logo {
  color: dodgerblue;
}
.showcase {
  height: 60vh;
  padding: 50px;
}

.mybtn {
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  border-radius: 50px;
}

footer {
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgb(66, 70, 75);
  color: dodgerblue;
  padding: 20px;
}
